name: MLflow CI Training & Docker Build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    env:
      MLFLOW_TRACKING_URI: file:./mlruns

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          pip install mlflow==2.19.0
          pip install -r requirements.txt

      - name: Run MLflow Project (Training)
        run: |
          mlflow run MLProject --env-manager=local

      - name: Get Latest MLflow Run ID
        run: |
          RUN_ID=$(ls -td mlruns/*/* | head -n 1 | awk -F/ '{print $NF}')
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

      - name: Build Docker Image with MLflow
        run: |
          mlflow models build-docker \
            --model-uri runs:/$RUN_ID/model \
            --name heart-disease-model

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          docker tag heart-disease-model ${{ secrets.DOCKER_USERNAME }}/heart-disease-model:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/heart-disease-model:latest
